<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ampersand.contactapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".profile.ProfileActivity"></activity>
        <activity android:name=".exchangecontanct.ScanCodeActivity" />
        <activity android:name=".exchangecontanct.ExchangeContactActivity" />
        <activity android:name=".signInregister.register.RegActivity" />
        <activity android:name=".signInregister.signin.SignInActivity" />
        <activity
            android:name=".signInregister.SignInOrRegisterActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".landingpage.LandingPageActivity"
            android:theme="@style/NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>